@use "../abstracts/variables" as *;

// ── Quick Settings button ─────────────────────────────────────────────────────

qs-button {
  padding: 0 6px;
  // border-radius: calc(#{$radius} - 2px);
  border-radius: 0 3px 3px 0;
  background: $ramp-0;
  color: $fg;

  image {
    -gtk-icon-size: 18px;
  }

  &:hover {
    background: $ramp-3;
    box-shadow: inset 0 0 0 2px $ramp-5;
  }
}
